@import "bootstrap/scss/bootstrap";

#root {
  background-color: white;
  background-image: url(../assets/kamehouse.webp);
  background-position: center;
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.gameboard {
  flex-grow: 1;
  display: flex;
  align-items: center;
  animation: fadeUp 0.5s ease 0s 1 normal forwards;
}

.card-characters {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(255, 165, 0, 0.6);
  box-shadow: 5px 5px 10px 1px #000000;

  img {
    width: 140px;
    height: 250px;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
    transform: scale(1); /* Default state */
  }
}

.card-characters:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.6);
  img {
    transform: scale(1.2); /* Hover state */
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
